@page
@model MyBlog.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Помилка";
}

<link rel="stylesheet" href="~/css/accessdenied.css">

<div class="text-center">
    <h1 class="display-4 text-danger">Доступ заборонено</h1>
    @if (Model.Blocked)
    {
        <p class="lead">Ваш обліковий запис заблоковано адміністратором.</p>
    }
    else
    {
        <p class="lead">У вас немає прав для доступу до цієї сторінки.</p>
    }
</div>